[submodule "delos/rap2-delos"]
	path = delos/rap2-delos
	url = https://github.com/ganl/rap2-delos.git
	branch = deploy
[submodule "dolores/rap2-dolores"]
	path = dolores/rap2-dolores
	url = https://github.com/ganl/rap2-dolores.git
	branch = deploy
